/*--------------------*/
/*  General Settting  */
/*--------------------*/
body{
	background-image	: url("rain.jpg");
	background-repeat	: no-repeat;
	background-size		: 100% 100%;
}
span {
	color				: #f3989b !important; 
}
a {
	color				: #fff;
	text-decoration		: none;	
	padding				: 0px 0px 0px 0px;
}
/*--------------------*/
/*  Header Settting   */
/*--------------------*/
header {
    background-color	: #78ADC9;
	height				: 45px;
	margin				: 0px 0px 0px 0px;
	position			: relative;
	width				: 75%;
	margin-left			: auto;
	margin-right		: auto;
	diplay				: block;
	vertical-align		: middle;
}
header .brand-logo {
	font-weight			: bold;
	font-size			: 30px;
  	text-transform		: uppercase;
  	margin-left			: 10px;
  	text-decoration		: none;
  	float 				: left;
  	position			: relative;
  	height				: 45px;
}
header ul {
	float				: right;
	width				: 50%;
    padding-left		: 0px;
    margin-top			: 10px;
    margin-bottom		: 0px;
    text-align			: right;
    position			: relative;
    height				: 45px;
}
header ul li {
	display				: inline;
	text-align			: center;
}

header ul li a{
	text-decoration		: none;
	font-family			: "Roboto",sans-serif;
  	font-size			: 20px;
  	font-weight			: 500;
  	line-height			: 14px;
  	padding				: 25px 20px;
  	text-transform		: uppercase;
}
header ul li a:hover{
	background-color	: #8080c0;
	color				: #fff;	
}
header ul li a:visited{
	color				: #fff;
}
/*--------------------*/
/*    Main Settting   */
/*--------------------*/
